{% extends 'base.html' %}

{% block titulo %}
Pesquisa de Filmes
{% endblock %}

{% block content %}
    <main class='bg-primary_black min-h-screen w-full'>
        <section class='bg-primary_black  min-h-screen  py-10'>

              <h2 class="text-gray-200 text-3xl font-medium text-center mt-5">
                Resultados da Busca
              </h2>

            <div class="p-8 w-10/12 mx-auto relative d-flex flex-column justify-content-center align-items-center" style="min-height: calc(80vh - 100px);" >
                <div class="flex flex-wrap items-center min-w-full movie_lis flex justify-center">
                  {% for filme in object_list %}
                    <div class="m-4 bg-blue-500 overflow-hidden flex-shrink-0 rounded-md cursor-pointer h-64 w-96 ">
                        <a href="{% url 'filme:detalhesfilme' filme.pk %}">
                          <img src="{{ filme.thumb.url }}" class="object-cover w-full h-full " alt="">
                        </a>
                    </div>
                  {% endfor %}
                  {% if not object_list %}
                      <p >Nenhum filme encontrado na sua pesquisa.</p>
                  {% endif %} 
                </div>


            </div>
        </section>
    </main>
{% endblock %}